* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --mainColor-black: #000000;
  --maincolor-white: #ffffff;
  --maincolor-paleSky: #6a7282;
  --maincolor-darkCharcoal: #333333;
  --maincolor-titaniumWhite: #f3f4f6;
  --maincolor-darkGray: #a9a9a9;
}
body {
  display: flex;
  background-color: white;
}
.side_bar {
  width: 10%;
  height: 100vh;
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  gap: 35px;
}
.menu_button {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 48px;
  height: 48px;
  align-items: center;
}
hr {
  border: 1.5px solid var(--mainColor-black);
  width: 100px;
}
.line {
  background-color: var(--mainColor-black);
  border: 3px solid var(--mainColor-black);
  border-radius: 80px;
  width: 42px;
  height: 1px;
}
button {
  border: none;
}
.main {
  margin-top: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 58px;
}
.buttonContainer {
  display: flex;
  gap: 27px;
}
input[type="text"] {
  width: 519px;
  height: 59px;
  border: none;
  border-radius: 12px;
  font-size: 24px;
  box-shadow: 0px 10px 20px 0.5px var(--maincolor-darkGray);
  padding-left: 15px;
}
input[type="text"]:focus {
  outline: none;
}
.buttonContainer3 {
  display: flex;
  gap: 10px;
}
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  padding: 0.7em 1.4em 0.7em 1.4em;
  color: white;
  background: #ad5389;
  background: var(--mainColor-black);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--maincolor-darkGray);
  letter-spacing: 0.05em;
  border-radius: 25px;
  transition: transform 0.5s ease;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5em 1.5em -0.5em var(--mainColor-black);
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em var(--mainColor-black);
}
.container2 {
  display: flex;
  align-items: center;
  margin-left: -100px;
  width: 48%;

  img {
    width: 500px;
  }
  h3 {
    margin-left: -200px;
  }
}
.container1 {
  display: none;
  width: 48%;
  flex-direction: column;
  gap: 23px;
}
.task_list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 53vh;
  position: relative;
  overflow-y: scroll;
}
.buttonContainer1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  color: var(--maincolor-paleSky);

  button {
    text-decoration: none;
    font-size: 18px;
    color: var(--maincolor-paleSky);
  }
}
.edit_button {
  width: 40px;
  height: 40px;
}
.edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
}
.edit-svgIcon path {
  fill: black;
}
.edit_button:hover .edit-svgIcon {
  transform: scale(1.2);
}
.edit_button:hover .edit-svgIcon path {
  fill: rgb(7, 168, 7);
}
.btn {
  background-color: transparent;
  position: relative;
  border: none;
}
.icon {
  transform: scale(1.2);
  transition: 0.2s linear;
}
.btn:hover > .icon {
  transform: scale(1.5);
}
.btn:hover > .icon path {
  fill: rgb(168, 7, 7);
}
.btn:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}
.task {
  display: flex;
  padding: 27px 35px;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 5px 15px -7px var(--mainColor-black);
}
.subContainer {
  display: flex;
  gap: 30px;
  font-size: 18px;
  align-items: center;
  
  span {
    font-size: 20px;
    font-weight: 600;
  }
  .checked {
    text-decoration: line-through;
    opacity: 0.6;
  }
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--mainColor-black);
}
.buttonContainer2 {
  display: flex;
  gap: 20px;
}
